.dateList {
    --gap--default: 1em;
    --padding--default: calc(var(--gap--default) / 2);
    --border-radius--default: 10px;

    display: flex;
    flex-direction: column;
    gap: var(--gap--default);
    
    .date {
        padding: calc(var(--padding--default) * 2);
        border-radius: var(--border-radius--default);
        background-color: var(--color--black-light);
    
        h3 {
            color: var(--color--green-light);
            text-align: left;
            margin-bottom: 1em;
        }
    
        .eventList {
            display: flex;
            flex-direction: column;
            gap: var(--gap--default);
    
            .event {
                display: flex;
                flex-direction: column;
                gap: var(--gap--default);
                padding: var(--padding--default);
                border-radius: var(--border-radius--default);
                background-color: color-mix(in srgb, var(--color--purple), transparent 50%);
                color: var(--color--green-light);
                cursor: pointer;
            
                h4 {
                    text-align: left;
                    margin: 0;
                }
            
                .infoRow {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    align-items: center;
                    
                    > * {
                        height: max-content;
                    }

                    > div {
                        display: flex;
                        gap: var(--gap--default);
                        
                        .bannerDetail {
                            padding: calc(var(--padding--default) / 2) var(--padding--default);
                            border-radius: calc(var(--border-radius--default) / 2);
                            background: linear-gradient(var(--color--green-dark), var(--color--green-light), var(--color--green-dark));
                            color: var(--color--black-dark);
                            font-weight: bold;
                        }
                    }

                    .detailsClosed {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &.hidden {
                            display: none;
                        }
                    }
                }
                
                .description {
                    border-top: 2px solid var(--color--green-dark);
                    padding-top: .5em;
                    
                    &.hidden {
                        display: none;
                    }

                    .attendeeRow {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);

                        .detailsOpened {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            &.hidden {
                                display: none;
                            }
                        }

                        .attendContainer {
                            display: flex;
                            justify-content: end;
                        }
                    }
                }

                
            }
        }
    
    }
}